@import url(../../../stylesheets/application.css);

/* dev hacks :) */

#quick-search select {display:none;} /* Remove jump to project menu */

html {
overflow-y: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
font-family: Arial, sans-serif;
}

/***
LET'S GET SOME ICON FONT GOINT ON HERE
***/

@font-face {
    font-family: 'AAM icons';
    src:url('/themes/AAM/fonts/AAM-icons.eot');
    src:url('/themes/AAM/fonts/AAM-icons.eot?#iefix') format('embedded-opentype'),
        url('/themes/AAM/fonts/AAM-icons.svg#AAM-icons') format('svg'),
        url('/themes/AAM/fonts/AAM-icons.ttf') format('truetype'),
        url('/themes/AAM/fonts/AAM-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.icon::before, .icon-copy::before {
font-family:'AAM icons';
font-size:1.5em;
margin-right:4px;
display:inline-block;
vertical-align:middle;
}
.icon-save, .icon-checked, .icon-reload, .icon.icon-vote, .icon.icon-view, .icon.icon-tag, .icon.icon-edit, .icon.icon-del, .icon.icon-comment, .icon.icon-unvote, .icon.icon-fav, .icon-fav-off, .icon-copy, .icon-user, .icon-lock, .icon-edit, .icon-out-of-hours, .icon-summary, .icon-add, .search_for_watchers a{
background:none!important;
padding-left:0px;
margin-right:20px;
}
.icon-edit::before {
content:'\0023';
font-family:'AAM icons';
font-size:1.5em;
margin-right:4px;
display:inline-block;
vertical-align:middle;
}
.icon-add, .search_for_watchers a {
font-size:12px;
}
.icon-add::before, .search_for_watchers a::before {
content:'\e017';
font-family:'AAM icons';
margin-right:5px;
}
.icon-add::before {
content:'\003c';
color: #48BB48;
}
.icon-summary::before {
content:'\003d';
}
.icon-out-of-hours::before {
content:'\0048';
}
.icon-save:before {
content:'\0073';
}
.icon-lock::before {
content:'\004e';
}
.icon-user::before {
content:'\0075';
}
.icon-checked::before {
content:'\0064';
}
.icon-reload::before {
content:'\e033';
}
a[accesskey="r"] {
margin-left:10px;
}
a[accesskey="r"]::before {
content: '\004a';
font-family: 'AAM icons';
margin-right:5px;
}
.icon.icon-vote::before, .icon.icon-unvote::before {
content:'\e03f';
}
.icon.icon-view::before {
content:'\004a';
}
.icon-copy::before {
content:'\0026';
}
.icon.icon-tag::before {
content:'\006c';
}
.icon.icon-edit::before {
content:'\0023';
}
.icon.icon-del::before {
content:'\0074';
}
.icon.icon-comment::before {
content:'\e042';
}
.icon.icon-fav::before {
content:'\00a3';
}
.icon-fav-off::before {
content:'\00a3';
color:#AAA;
}
.message .author .user::before {
font-family:'AAM icons';
font-size:1em;
margin-right:4px;
display:inline-block;
vertical-align:middle;

content:'\0075';
}
.icon-pause::before {
content:'\0033';
}
.icon-unpause::before {
content:'\e065';
}
.icon-pause-list::before {
content:'\0022';
}
.icon-pause-list {
margin-right:20px;
}
h3.comments {
background: none!important;
padding-left: 0px;
}
h3.comments::before {
content:'\e041';
font-family:'AAM icons';
margin-right:5px;
}
.group {
padding-left:0px!important;
background:none!important;
}
.board.details .contextual {
font-size: 12px;
}
.board.details .contextual .icon-add, .board.details .contextual .icon-fav-off {
background:none!important;
padding-left:0px!important;
margin-left:5px;
}
.board.details .contextual .icon-add::before {
content: '\e042';
}
.board.details .contextual .icon-add {
font-family:inherit;
}

.id a {
background: #169;
color: #FFF;
padding: 2px 5px;
border-radius: 3px;
}
dt.issue, dt.message {
background:none!important;
padding-left:0px!important;
}
dt.issue::before {
content:'\006c';
font-family:'AAM icons';
margin-right:5px;
vertical-align:middle;
font-size:1.3em;
}
dt.message::before {
content:'\e042';
font-family:'AAM icons';
margin-right:5px;
vertical-align:middle;
font-size:1.3em;
}

/**
MAIN HEADER
**/

#header {
height:2em;
min-height:0;
background:#AFAFAF;
border-bottom: 2px solid #A0A0A0;
box-shadow: inset 0px 1px rgba(255, 255, 255, 0.2);
}
#top-menu {
background:#222;
font-size: 0.8em;
padding: 4px 2px 0px 6px;
}
#main-menu {
bottom:11px;
left: -webkit-calc(50% - 193px);
left: -moz-calc(50% - 193px);
left: calc(50% - 193px);
top:7px;
}

#main-menu li a::before {
font-size: 23px;
font-weight: normal!important; /** even when selected **/
margin-right:5px;
font-family:'AAM icons';
vertical-align:middle;
}

#main-menu li .issues::before {
content: '\e062';
}
#main-menu li .new-issue::before {
content: '\e063';
}
#main-menu li .boards::before {
content: '\e020';
}


/****
TABLES ALIGN PLEASE
****/
table.list {
text-align:left;
}
table.list tr {
text-align:left;
}

td.author {
white-space: normal;
}

.cf_8.cinema {
white-space: normal;
}

/** high priority **/
tr.priority-1 {
background:#FFA9BE;
}
tr.priority-2 {

background:#FFD3DF;
}
tr.priority-highest{
background:#FFF;
}
tr.closed{
background:#FFF;
}
/** resolved **/
tr.status-7 {
background: #CDFDCD;
}
/** rejected **/
tr.status-6 {
text-decoration: line-through;
}


/****
NAV
****/
body {
font-family:Arial, sans-serif; /** most of our apps use Arial. not as wide as Verdana  **/
}


#main-menu li a.selected, #main-menu li a.selected:hover {
background: none;
color: #050505;
/** border-top: 2px solid #E54A76; **/
}

#main-menu li a, #main-menu li a:hover {
color: #050505;
border-radius: 3px;
padding: 4px 15px 4px 15px;
}
#main-menu li a:hover {
background: rgba(255, 255, 255, 0.25);
}

#main-menu li a.selected::after {
content: '';
display: block;
width: 17px;
height: 17px;
background: #FFF;
margin-left: 45%;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
margin-top: 5px;
-moz-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.15);
box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.15);
}


#header h1 {
margin-top:2px; /** Vertical middle align **/
display:inline-block;
}
#header h1::before {
content: url(/themes/AAM/img/lifeguard-icon.png);
display:inline-block;
height:20px;
width:20px;
margin-right: 5px;
}
#quick-search {
margin-top:8px;
}

/****
BUTTONS LIKE IN THE GOOD OLD DAYS
****/
input[type="submit"] {
font-size: 12px;
white-space: nowrap;
color: #282828;
text-shadow: 0px 1px 1px #EEE;
letter-spacing: 1px;
text-indent: 0;
cursor: pointer;
font-size: 13px;
height: 22px;
line-height: 22px;
border-radius: 3px;
margin: 1px;
padding: 0px 6px;
border: 1px solid #777;
background-color: #DCDCDC;
background-image: url('/static/common/img/gradients/ui_button.png');
background-size: 100%;
background: -moz-linear-gradient(top, #DCDCDC 1%, #B1B1B1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#DCDCDC), color-stop(100%,#B1B1B1));
background: -webkit-linear-gradient(top, #DCDCDC 1%,#B1B1B1 100%);
background: -o-linear-gradient(top, #DCDCDC 1%,#B1B1B1 100%);
background: -ms-linear-gradient(top, #DCDCDC 1%,#B1B1B1 100%);
background: linear-gradient(top, #DCDCDC 1%,#B1B1B1 100%);
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
box-shadow: inset 0px 1px 1px #FFF;
}
input[type="submit"]:hover {
background: -moz-linear-gradient(top, #EEEEEE 1%, #CCCCCC 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#EEEEEE), color-stop(100%,#CCCCCC));
background: -webkit-linear-gradient(top, #EEEEEE 1%,#CCCCCC 100%);
background: -o-linear-gradient(top, #EEEEEE 1%,#CCCCCC 100%);
background: -ms-linear-gradient(top, #EEEEEE 1%,#CCCCCC 100%);
background: linear-gradient(top, #EEEEEE 1%,#CCCCCC 100%);
}

/***
GENERAL STYLING
***/

.box.tabular {
padding:20px;
}

label[for="add_filter_select"] {
background: #AFAFAF;
padding: 3px 6px;
color: #FFF;
border-radius: 5px 0px 0px 5px;
margin-right: -5px;
display: inline-block;
vertical-align: middle;
}

fieldset.collapsible>legend {
font-weight: bold;
font-size: 1.15em;
}
#filters legend::before {
content:'\0072'; /** filter icon **/
font-family:'AAM icons';
font-weight:normal;
margin-right:3px;
}
.collapsible:not(#filters) legend::before {
content:'\0079';  /** cog wheel **/
font-family:'AAM icons';
font-weight:normal;
margin-right:3px;
}

p.subtitle {
font-size: 1.1em;
margin: -6px 0 12px 0;
font-style: normal;
color: #999;
}

/** Settings page **/
.action-account #wrapper #wrapper2 #wrapper3 #main #sidebar::before {
content: 'Arts Alliance Media';
font-size: 2em;
line-height: 50px;
border-bottom: 1px solid;
display: block;
}

/***
JUST IN CASE SOME HAS A BIG ASS SCREEN..
***/
.box, .div.issue {
border-radius:3px;
}
#all_attributes {
max-width:1100px;
}
span.required, a:hover {
color: #E54A76;
}

/***
LET US NOT FORGET ABOUT THE LOGIN PAGE
***/
body.action-login {
background:#AFAFAF;
}
body.action-login #wrapper #wrapper2 #wrapper3 #main #content {
background:#AFAFAF;
}
body.action-login #wrapper #wrapper2 #footer{
position: absolute;
bottom: 0;
left:0px;
right:0px;
background: rgba(0, 0, 0, 0);
color: #666;
border: none;
}
body.action-login #wrapper #wrapper2 #wrapper3 #header {
display:none;
}
#login-form {
margin-top:14%;
}
#login-form::before {
content: ']';
text-align: center;
display: block;
font-size: 16em;
font-family: 'AAM icons';
color: #FFF;
text-shadow: 0px 1px 3px #888;
}
#login-form table {
margin-top:4em;
background-color: #CCC;
border:none;
border-radius: 3px;
box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), 0px 1px 3px #777;
}

/****
ISSUE SECTION
****/
.controller-issues #wrapper #wrapper2 #wrapper3 #main #sidebar {
width:13%;
}
.controller-issues #wrapper #wrapper2 #wrapper3 #main #content {
width:84%;
}
#main.nosidebar #content {
width: -webkit-calc(100% - 20px)!important;
width: -moz-calc(100% - 20px)!important;
width: calc(100% - 20px)!important;
}
/****
Knowledge Base
****/
.questions-tags li a::before {
content:'\006c';
font-family:'AAM icons';
margin-right:3px;
}
.message .author {
border-left: 4px dotted #AAA;
padding-left: 20px;
margin-top: ;
}
h2, .wiki h1 {
font-size: 24px;
}
.wiki p {
padding-right:10%;
font-size:13px;
line-height:17px;
}

div.wiki img {
max-width: 100%;
margin: 15px 0px;
border-radius: 3px;
float: left;
margin-right: 20px;
vertical-align: middle;
}
.related-topic {
border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
padding: 6px 0px;
}
.message.details + br + p a{
background: #169;
padding: 2px 8px;
border-radius: 3px;
color: #FFF;
}
.message.details + br + p a::before {
content:'\e041';
font-family:'AAM icons';
margin-right:4px;
}

/****
ADMIN SECTION
****/
#admin-menu li {
margin: 0;
list-style-type: none;
display: inline-block;
font-size: 16px;
vertical-align: middle;
background: #6287D6;
color: #FFF;
width: calc(100% / 6 - 3px);
text-align: center;
padding: 30px 0px;
margin-bottom: 3px;
}
#admin-menu li:hover {
background:white;
}
#admin-menu li:hover a{
color:#6287D6;
text-decoration:none;
}
#admin-menu a {
background-image:none!important;
color:white;
white-space:nowrap;
}
#admin-menu a::before  {
font-family:'AAM icons';
font-size:35px;
display: block;
margin-bottom: 9px;
}
/**
ADMIN MENU IN SIDEBAR
***/

#sidebar #admin-menu li {
margin: 0;
list-style-type: none;
display: inline-block;
font-size: 14px;
vertical-align: middle;
background: #6287D6;
color: #FFF;
width: 95%;
text-align: left;
padding: 0px;
margin-bottom: 3px;
}
#sidebar #admin-menu li:hover {
background:white;
}
#sidebar #admin-menu li:hover a{
color:#6287D6;
text-decoration:none;
}
#sidebar #admin-menu a {
background-image:none!important;
color:white;
line-height:32px;
}
#sidebar #admin-menu a::before  {
font-family:'AAM icons';
font-size:25px;
display: inline;
margin-bottom: 9px;
margin-right:5px;
vertical-align:middle;
}

#sidebar #admin-menu a.selected {
font-size:20px;
background:none;
line-height:65px;
}

#admin-menu a.projects::before {
content:'\e059';
}
#admin-menu a.users::before {
content:'\0055';
}
#admin-menu a.groups::before {
content:'\006f';
}
#admin-menu a.roles::before {
content:'\e05e';
}
#admin-menu a.trackers::before {
content:'\e058';
}
#admin-menu a.issue_statuses::before {
content:'\e061';
}
#admin-menu a.workflows::before {
content:'\e05a';
}
#admin-menu a.custom_fields::before {
content:'\e05b';
}
#admin-menu a.enumerations::before {
content:'\e053';   /*** going to change icon  **/
}
#admin-menu a.settings::before {
content:'\0079';
}
#admin-menu a.plugins::before {
content:'\e055';
}
#admin-menu a.working-periods::before {
content:'\e05d';
}
#admin-menu a.info::before {
content:'\0069';
}
#admin-menu a.cinemas::before {
content:'\0045';
}
#admin-menu a.devices::before {
content:'\e00f';
}
#admin-menu a.screens::before {
content:'\e00d';
}
#admin-menu a.circuit-groups::before {
content:'\e038';
}
#admin-menu a.server_authentication::before {
content:'\e064';
}
a[href="#make-kb-add"]::before {
content:'\e020';
font-family:'AAM icons';
margin-right:5px;
font-size:1.5em;
vertical-align:middle;
}
/****
ISSUE PAGE
****/
/**
.tabular label {
text-align: left;
margin-left: 0;
width: auto;
display: block;
}
.tabular p {
padding-left:0;
}
**/

#relations, #issue_tree + hr {
display:none;
}

p.pagination {
font-size: 100%;
font-weight: bold;
}

.list tbody tr td {
padding:8px;
}

.category-heading:first-child {
margin-left:0;
}
/** Hourglass icon only temporary, will get unique icon for out of hours soon **/
.icon-out-of-hours {
background-image: url(../../../images/hourglass.png);
}






/** DEV CSS **/

#forum_list {
list-style-type: none;
padding: 0;
}
#forum_list li {
padding-top: 10px;
padding-left: 5px;
border-bottom: 1px dashed #ccc;
}
#forum_list li:hover {
    background-color: #ffffdd;
}
#forum_list li:hover .topic-count {
display: block;
}
#forum_list .topic-count {
float: right;
margin: 5px 10px 0;
display: none;
}
#forum_list .last-message {
font-size: 14px;
}
#forum_list .last-message-author {
font-size: 12px;
font-style: italic;
}
#footer, #quick-search {
display: none;
}
.board.details .contextual .icon-add {
margin-right: 5px;
}

.wiki p {
font-size: 16px;
line-height: 1.5em;
}

input.autocomplete {
padding-left: 30px !important;
}

div.attachments {
	clear: both;
}