<% content_for :header_tags do %>
  <%= javascript_include_tag "issue", :plugin => 'aam_knowledgebase'  %>
<% end %>

<p id="make-kb">
  <a href="#make-kb-add" nofollow>Make knowledgebase article from this issue</a>
</p>

<div id="make-kb-add" style="display: none">
  <p>Article Category</p>
  <%= select_tag :board_id, options_for_select(@issue.project.boards.collect {|b| [b.name, b.id]}) %> 
  <a id="make-kb-add-submit" data-url="<%= issue_path(@issue) %>">Add</a>
</div>