@import url(../../../stylesheets/application.css);

/* dev hacks :) */

#quick-search select {display:none;} /* Remove jump to project menu */

html {
overflow-y: auto;
}

h1, h2, h3, h4 {
font-family: Arial, sans-serif;
}

/***
LET'S GET SOME ICON FONT GOINT ON HERE
***/

@font-face {
	font-family: 'icomoon';
	src:url('/themes/AAM/fonts/icomoon.eot');
	src:url('/themes/AAM/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/themes/AAM/fonts/icomoon.woff') format('woff'),
		url('/themes/AAM/fonts/icomoon.ttf') format('truetype'),
		url('/themes/AAM/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon::before, .icon-copy::before {
font-family:icomoon;
font-size:1.5em;
margin-right:4px;
display:inline-block;
vertical-align:middle;
}
.icon-save, .icon-checked, .icon-reload, .icon.icon-vote, .icon.icon-view, .icon.icon-tag, .icon.icon-edit, .icon.icon-del, .icon.icon-comment, .icon.icon-unvote, .icon.icon-fav, .icon-fav-off, .icon-copy {
background:none!important;
padding-left:0px;
margin-right:20px;
}
.icon-save:before {
content:'\0073';
}
.icon-checked::before {
content:'\0064';
}
.icon-reload::before {
content:'\e033';
}
a[accesskey="r"] {
margin-left:10px;
}
a[accesskey="r"]::before {
content: '\004a';
font-family: icomoon;
margin-right:5px;
}
.icon.icon-vote::before, .icon.icon-unvote::before {
content:'\e03f';
}
.icon.icon-view::before {
content:'\004a';
}
.icon-copy::before {
content:'\0026';
}
.icon.icon-tag::before {
content:'\006c';
}
.icon.icon-edit::before {
content:'\0023';
}
.icon.icon-del::before {
content:'\0074';
}
.icon.icon-comment::before {
content:'\e042';
}
.icon.icon-fav::before {
content:'\00a3';
}
.icon-fav-off::before {
content:'\00a3';
color:#AAA;
}
.message .author .user::before {
font-family:icomoon;
font-size:1em;
margin-right:4px;
display:inline-block;
vertical-align:middle;

content:'\0075';
}

h3.comments {
background: none!important;
padding-left: 0px;
}
h3.comments::before {
content:'\e041';
font-family:icomoon;
margin-right:5px;
}
.group {
padding-left:0px!important;
background:none!important;
}
.group::before {
content: '\0055';
font-family: icomoon;
margin-right: 5px;
margin-left:3px;
}
.board.details .contextual {
font-size: 12px;
}
.board.details .contextual .icon-add, .board.details .contextual .icon-fav-off {
background:none!important;
padding-left:0px!important;
margin-left:5px;
}
.board.details .contextual .icon-add::before {
content: '\e042';
}
/**
MAIN HEADER
**/

#header {
height:2em;
min-height:0;
background:#AFAFAF;
border-bottom: 2px solid #A0A0A0;
box-shadow: inset 0px 1px rgba(255, 255, 255, 0.2);
}
#top-menu {
background:#222;
font-size: 0.8em;
padding: 4px 2px 0px 6px;
}
#main-menu {
bottom:11px;
left: -webkit-calc(50% - 193px);
left: -moz-calc(50% - 193px);
left: calc(50% - 193px);
}
/****
TABLES ALIGN PLEASE
****/
table.list {
text-align:left;
}
table.list tr {
text-align:left;
}

td.author {
white-space: normal;
}

.cf_8.cinema {
white-space: normal;
}

/** high priority **/
tr.priority-1 {
background:#FFA9BE;
}
tr.priority-2 {

background:#FFD3DF;
}
tr.priority-highest{
background:#FFF;
}
tr.closed{
background:#FFF;
}
/** resolved **/
tr.status-7 {
background: #CDFDCD;
}
/** rejected **/
tr.status-6 {
text-decoration: line-through;
}


/****
NAV
****/
body {
font-family:Arial, sans-serif; /** most of our apps use Arial. not as wide as Verdana  **/
}
#main-menu li a.selected, #main-menu li a.selected:hover {
background: #FFF;
color: #222;
border-top: 2px solid #E54A76;
}

#main-menu li a, #main-menu li a:hover {
border-radius: 3px;
padding: 4px 15px 4px 15px;
}
#main-menu li a:hover {
background: rgba(255, 255, 255, 0.25);
}
#header h1 {
margin-top:2px; /** Vertical middle align **/
display:inline-block;
}
#header h1::before {
content: url(/themes/AAM/img/lifeguard-icon.png);
display:inline-block;
height:20px;
width:20px;
margin-right: 5px;
}
#quick-search {
margin-top:8px;
}

/****
BUTTONS LIKE IN THE GOOD OLD DAYS
****/
input[type="submit"] {
font-size: 12px;
white-space: nowrap;
color: #282828;
text-shadow: 0px 1px 1px #EEE;
letter-spacing: 1px;
text-indent: 0;
cursor: pointer;
font-size: 13px;
height: 22px;
line-height: 22px;
border-radius: 3px;
margin: 1px;
padding: 0px 6px;
border: 1px solid #777;
background-color: #DCDCDC;
background-image: url('/static/common/img/gradients/ui_button.png');
background-size: 100%;
background: -moz-linear-gradient(top, #DCDCDC 1%, #B1B1B1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#DCDCDC), color-stop(100%,#B1B1B1));
background: -webkit-linear-gradient(top, #DCDCDC 1%,#B1B1B1 100%);
background: -o-linear-gradient(top, #DCDCDC 1%,#B1B1B1 100%);
background: -ms-linear-gradient(top, #DCDCDC 1%,#B1B1B1 100%);
background: linear-gradient(top, #DCDCDC 1%,#B1B1B1 100%);
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
box-shadow: inset 0px 1px 1px #FFF;
}
input[type="submit"]:hover {
background: -moz-linear-gradient(top, #EEEEEE 1%, #CCCCCC 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#EEEEEE), color-stop(100%,#CCCCCC));
background: -webkit-linear-gradient(top, #EEEEEE 1%,#CCCCCC 100%);
background: -o-linear-gradient(top, #EEEEEE 1%,#CCCCCC 100%);
background: -ms-linear-gradient(top, #EEEEEE 1%,#CCCCCC 100%);
background: linear-gradient(top, #EEEEEE 1%,#CCCCCC 100%);
}

/***
GENERAL STYLING
***/

.box.tabular {
padding:20px;
}

label[for="add_filter_select"] {
background: #AFAFAF;
padding: 3px 6px;
color: #FFF;
border-radius: 5px 0px 0px 5px;
margin-right: -5px;
display: inline-block;
vertical-align: middle;
}

fieldset.collapsible>legend {
font-weight: bold;
font-size: 1.15em;
}
#filters legend::before {
content:'\0072'; /** filter icon **/
font-family:icomoon;
font-weight:normal;
margin-right:3px;
}
.collapsible:not(#filters) legend::before {
content:'\0079';  /** cog wheel **/
font-family:icomoon;
font-weight:normal;
margin-right:3px;
}
/** Settings page **/
.action-account #wrapper #wrapper2 #wrapper3 #main #sidebar::before {
content: 'Arts Alliance Media';
font-size: 2em;
line-height: 50px;
border-bottom: 1px solid;
display: block;
}

/***
JUST IN CASE SOME HAS A BIG ASS SCREEN..
***/
.box, .div.issue {
border-radius:3px;
}
#all_attributes {
max-width:1100px;
}
span.required, a:hover {
color: #E54A76;
}

/***
LET US NOT FORGET ABOUT THE LOGIN PAGE
***/
body.action-login {
background:#AFAFAF;
}
body.action-login #wrapper #wrapper2 #wrapper3 #main #content {
background:#AFAFAF;
}
body.action-login #wrapper #wrapper2 #footer{
position: absolute;
bottom: 0;
left:0px;
right:0px;
background: rgba(0, 0, 0, 0);
color: #666;
border: none;
}
body.action-login #wrapper #wrapper2 #wrapper3 #header {
display:none;
}
#login-form {
margin-top:14%;
}
#login-form::before {
content: ']';
text-align: center;
display: block;
font-size: 16em;
font-family: icomoon;
color: #FFF;
text-shadow: 0px 1px 3px #888;
}
#login-form table {
margin-top:4em;
background-color: #CCC;
border:none;
border-radius: 3px;
box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), 0px 1px 3px #777;
}

/****
ISSUE SECTION
****/
.controller-issues #wrapper #wrapper2 #wrapper3 #main #sidebar {
width:13%;
}
.controller-issues #wrapper #wrapper2 #wrapper3 #main #content {
width:84%;
}
#main.nosidebar #content {
width: -webkit-calc(100% - 20px)!important;
width: -moz-calc(100% - 20px)!important;
width: calc(100% - 20px)!important;
}
/****
Knowledge Base
****/
.questions-tags li a::before {
content:'\006c';
font-family:icomoon;
margin-right:3px;
}
.message .author {
border-left: 4px dotted #AAA;
padding-left: 20px;
}
h2, .wiki h1 {
font-size: 24px;
}
.wiki p {
padding-right:10%;
font-size:13px;
line-height:17px;
}

div.wiki img {
max-width: 100%;
margin: 15px 0px;
border-radius: 3px;
float: left;
margin-right: 20px;
vertical-align: middle;
}
.related-topic {
border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
padding: 6px 0px;
}
.message.details + br + p a{
background: #169;
padding: 2px 8px;
border-radius: 3px;
color: #FFF;
}
.message.details + br + p a::before {
content:'\e041';
font-family:icomoon;
margin-right:4px;
}