<% content_for :header_tags do %>
  <%= javascript_include_tag "producer_issue", :plugin => 'aam_producer_fields'  %>
<% end %>

<div class="splitcontent">
  <div class="splitcontentleft">
    <% if @issue.safe_attribute? 'cinema_id' %>
      <p><%= form.select :cinema_id, Cinema.all.collect {|c| [c.name, c.id]}, {:required => true, :include_blank => false},
                      :onchange => "updateIssueFrom('#{escape_javascript project_issue_form_path(@project, :id => @issue, :format => 'js')}')" %></p>
    <% end %>
  </div>

  <div class="splitcontentright">
    <% if @issue.safe_attribute? 'screen_id' %>

      <% screens = Screen.where(:cinema_id => @issue.cinema_id) %>
      <p><%= form.select :screen_id, screens.collect {|s| [s.identifier, s.id]}, {:include_blank => true},
                      {:onchange => "updateIssueFrom('#{escape_javascript project_issue_form_path(@project, :id => @issue, :format => 'js')}')"} %></p>
    <% end %>
  </div>
</div>

<%= hidden_field_tag("issue-update_form-url", project_issue_form_path(@project, :id => @issue, :format => 'js'))  %>