<% if @issue.safe_attribute? 'cinema_id' %>
<p><%= form.select :cinema_id, Cinema.all.collect {|c| [c.name, c.id]}, {:required => true, :include_blank => true},
                :onchange => "updateIssueFrom('#{escape_javascript project_issue_form_path(@project, :id => @issue, :format => 'js')}')" %></p>
<% end %>

<% if @issue.safe_attribute? 'screen_id' %>

<% screens = Screen.where(:cinema_id => @issue.cinema_id) %>
<p><%= form.select :screen_id, screens.collect {|s| [s.identifier, s.id]}, {:include_blank => true},
                {:onchange => "updateIssueFrom('#{escape_javascript project_issue_form_path(@project, :id => @issue, :format => 'js')}')"} %></p>
<% end %>

<% if @issue.safe_attribute? 'device_id' %>

<%
  if @issue.screen_id and screens.any? { |s| s.id == @issue.screen_id }
    devices = Device.where({:deviceable_id => @issue.screen_id, :deviceable_type => 'Screen'})
  elsif @issue.cinema_id
    devices = Device.where({:deviceable_id => @issue.cinema_id, :deviceable_type => 'Cinema'})
  else
    devices = []
  end
%>

<p><%= form.select :device_id,  devices.collect {|d| [t(d.category), d.id]}, {:include_blank => true},
                {:onchange => "updateIssueFrom('#{escape_javascript project_issue_form_path(@project, :id => @issue, :format => 'js')}')"} %></p>
<% end %>